@charset "UTF-8";

body {
    background: rgb(70,142,236);
    font: normal 15pt 'Courier New', Courier, monospace;
}

header {
    color: white;
    text-align: center;
}

section {
    padding: 15px;
    border-radius: 10px;    
    margin: auto;
    background: white;
    width: 500px;    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.333);
}

footer {
    color: white;
    text-align: center;
}